<div class="content">
  <h3 class="title">{{ post.title }}</h3>

  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.buttons %}
    <div class="button-links">
      {% for button in post.buttons %}
        <a href="{{ button.project_link }}" class="project-link">
          <button class="btn btn-default btn-lg">
            <i class="fa fa-{{ button.button_icon }} fa-lg"></i>{{ button.button_text }}
          </button>
        </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if post.tags %}
    <div class="tags">
      {% for tag in post.tags %}
        <span>{{ tag }}</span>
      {% endfor %}
    </div>
  {% endif %}
</div>